.home-main-wrapper
  padding: 0 0
  font-family: "Poppins-Regular"

  .home-section-1
    display: flex
    justify-content: center
    align-items: flex-start
    flex-wrap: nowrap
    padding-left: 80px

    .home-sec1-text-wrapper
      width: 35%
      color: #033436

      .home-sec1-text-large
        font-size: 36px
        font-weight: 600
        margin: 10px 0

      .home-sec1-text-medium
        font-size: 18px
        font-weight: normal
        padding-bottom: 70px
        margin: 10px 0

      .home-sec1-text-small
        padding-top: 20px
        font-size: 14px
        font-weight: normal

        a
          text-decoration: none
          color: #033436

      .home-sec1-button
        padding: 10px 15px
        border-radius: 10px
        font-family: "Poppins-Regular"
        font-size: 14px
        font-weight: bold
        color: #ffffff
        background-color: #009A8F
        box-shadow: 3px 3px 6px #d4d4d4

    .home-image-wrapper
      width: 65%
      padding-top: 100px

  .home-section-2
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: nowrap
    background-color: #016964
    padding: 0 80px

    .home-sec2-text-wrapper
      width: 50%
      padding: 70px 30px 70px 0px

      p
        margin: 0

      .home-sec2-text-link
        padding-top: 10px

        a
          color: #ffffff

    .home-sec2-image-wrapper
      width: 50%

  .home-text-large
    color: #ffffff
    font-size: 28px
    font-weight: 600
    padding: 10px 0

  .home-text-small
    color: #ffffff
    font-size: 16px
    font-weight: normal
    padding-bottom: 30px

  .home-text-yellow
    color: #FFBC5A
    font-size: 14px
    font-weight: 600
    padding-top: 30px      